NODE_ENV='development'

APPLICATION_PORT=4000
APPLICATION_URL='http://localhost:${APPLICATION_PORT}'
ALLOWED_ORIGIN='http://localhost:3000'

POSTGRES_USER='root'
POSTGRES_PASSWORD='example_password'
POSTGRES_HOST='localhost'
POSTGRES_PORT=5433
POSTGRES_DB='full-authorization'
POSTGRES_URI='postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}'

REDIS_USER='default'
REDIS_PASSWORD='example_password'
REDIS_HOST='localhost'
REDIS_PORT=6379
REDIS_URI='redis://${REDIS_USER}:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}'

JWT_ACCESS_SECRET='change_me_access_secret'
JWT_ACCESS_TTL='15m'
JWT_REFRESH_TTL='30d'
REFRESH_PREFIX='refresh:'

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_CALLBACK_URL='${APPLICATION_URL}/auth/google/callback'
GOOGLE_SUCCESS_REDIRECT='${ALLOWED_ORIGIN}/auth/callback'

TURNSTILE_SECRET_KEY=''
TURNSTILE_ENABLED='false'

MAIL_HOST='localhost'
MAIL_PORT=1025
MAIL_USER=''
MAIL_PASSWORD=''
MAIL_FROM='BuildVerdict <no-reply@buildverdict.local>'
